*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.action-group {
  display: flex;
}

.action-group > * {
  font-size: 12px;
  font-weight: 700;
  height: 26px;
  padding: 0;
  border-radius: 0;
}

.text-primary {
  color: #f72210 !important;
}

.bg-primary {
  background: #f72210 !important;
}

.navbar-50-h {
  height: 50px;
}

.toggler-icon::before {
  content: " ";
  background: red;
  height: 4px;
  width: 24px;
  background: white;
  position: absolute;
  display: inline-block;
  top: -8px;
  left: 0
}

.toggler-icon {
  content: " ";
  background: red;
  height: 4px;
  width: 24px;
  background: white;
  position: relative;
  display: inline-block;
}

.toggler-icon::after {
  content: " ";
  background: red;
  height: 4px;
  width: 24px;
  background: white;
  position: absolute;
  display: inline-block;
  bottom: -8px;
  left: 0
}

.menu-toggler {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.article-title {
  font-size: 22px;
}

.article-summary {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0px !important;
  color: #333;
}

.section-title {
  font-size: 16px;
  color: rgba(3, 3, 3, 0.4);
  font-weight: 700;
}

.underline {
  border-width: 0.5px;
  border-style: solid;
}

.article-image {
  width: 135px;
  height: 90px;
  object-fit: cover;
  float: left;
}

.title-small {
  font-size: 17px;
}

.border-secondary {
  border-color: #ddd !important;
  border-width: 0.5px;
}

.tag {
  background: #c2d4d7;
  font-size: 13px;
  width: auto;
  display: inline-block;
}

.bg-gray {
  background: #f4f5f7;
}

.article-subtile {
  font-size: 15px;
  color: rgba(39, 39, 39, 0.5) ;
}

.card-transparent {
  background: transparent;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.avatar {
  width: 63px;
  height: 63px;
  max-width: 63px;
}

.avatar-title {
  font-size: 17px;
}

.author {
  clear: left;
  color: #555;
  font-size: 14px;
}

.map-image {
  width: 135px;
  height: 90px;
}

.mini-logo {
  background: #f72210;
  width: 29px;
  height: 28px;
  max-width: 30px;
}

.sign-up-btn {
  border-radius: 0;
  background:#666666;
  border: none;
}

.text-small {
  font-size: 15px;
}

.sign-up {
 max-width: 350px;
}

@media screen and (min-width: 768px) {
  .article-summary {
    font-size: 15px;
  }
}